*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background: #f0f1f0;
}

header
{
    display: flex;

    height: 4em;
    margin: 1.5rem;

    justify-content: space-between;
    align-items: center;
}

header .logo img
{
    width: 3rem;
}

header .htitle,
h3
{
    color: #f0f1f0;
    text-shadow: 1px 1px 3px #171615;
}

main
{
    display: flex;
    flex-direction: column;

    width: 80%;
    height: calc(100vh - 10rem);
    margin: 1rem auto;

    flex: 1 0;
    justify-content: space-around;
    align-items: center;
}

#table_big,
#table_joker
{
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.tbn
{
    margin: .5rem;
}

table
{
    padding: .2rem;

    border: 1px solid #ccc;
}

table td
{
    padding: .1rem;

    text-align: center;

    border: 1px solid #ccc;
}

.active
{
    transition: 2s;

    color: #fff;
    border-radius: 50%;
    background: #1e9505;
}

.gen
{
    margin-top: 3em;
}

.gen button
{
    font-weight: bold;

    padding: 1em;

    cursor: pointer;

    color: #ccc;
    border: none;
    border: 2px solid #ccc;
    border-radius: 1em;
    background: none;
    background: #1e9505;
}
.gen button:hover
{
    color: #1e9505;
    border: 2px solid #1e9505;
    background: #ccc;
}


footer
{
    line-height: 3rem;

    width: 100%;
    height: 3rem;

    text-align: center;
}

footer a
{
    text-decoration: none;

    color: #f0f1f0;
    text-shadow: 1px 1px 2px #000;
}

footer a:hover
{
    color: #fff;
}
